.jumbotron {
    padding-top: 10px;
    padding-bottom: 60px;
    height: 180px;
    margin-bottom: 20px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
}

h4 {
    font-size: 24px;
    margin-bottom: 0px;
}

p {
    font-size: 16px;
}

button {
    width: 80px;
    font-weight: bold;
}

.title {
    text-align: center;
}

.media {
    height: 20vw;
    overflow: hidden;
    border: green 3px solid;
    padding: 5px;
    margin: 10px;
}

.media:hover {
    height: auto;
    border: blue 3px solid;
}

.mediacardimage {
    width: 60px;
    height: 60px;
}

.nodecoration {
    text-decoration: none;
}

.extrainformation {
    display: none;
}

@media screen and (min-width: 760px) {
    .largecolumn {
        min-height: 800px;
    }

    .extrainformation {
        display: block;
    }
}

@media screen and (max-width: 760px) {
    .display-4 {
        font-size: 8vw;
    }
}