.jumbotron {
    padding-top: 10px;
    padding-bottom: 60px;
    height: 180px;
    margin-bottom: 20px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

a:hover {
    color: inherit;
}

h5 {
    font-size: 24px;
}

p {
    font-size: 16px;
}

.title {
    text-align: center;
}

.media {
    height: 20vh;
    overflow: hidden;
    border: green 3px solid;
    padding: 5px;
    margin: 10px;
}

.media:hover {
    height: auto;
    border: blue 3px solid;
}

.mediacardimage {
    width: 60px;
    height: 60px;
}

.nodecoration {
    text-decoration: none;
}

